<% if !user_signed_in? %>

<div class="jumbotron center">

<h3>Welcome</h3>

  Below are content navigation systems to help you browse the encyclopedia. They serve as an alternative to the search box, and are especially useful when you don't know exactly what you are looking for, or for when you want to see everything on a particular subject.

<p><%=link_to "Sign In to Review", new_user_session_path, class: "btn btn-primary "  %></p>
</div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag (movie.image.url("medium")),class:'image'), movie %>
        <div class="caption">
        <center>  <h4> <%= movie.title %></h4>

        </div>
      </div>
    </div>
  <% end %>
</div>
